name: Test and publish
on:
  - push

jobs:
  test-sdk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          cache: 'npm'

      - name: Install application
        run: npm i

      - name: Build application
        run: npm run build

      - name: Unit Test
        run: npm run test

  build-and-push-production-images:
    if: github.ref == 'refs/heads/main'
    needs: test-sdk
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Publish
        run: npm publish